section.slide
  .split-lr
    .l Input
      pre.
        .container {
          display: flex;
        }

        .container .column {
          display: flex;
          flex-direction: row;
        }

    .r Output
      pre.
        .container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        .container .column {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
        }
