section.slide
  p Can't Sass do this?

  pre.
    @mixin animation-name($name...) {
      -o-animation-name: $name;
      -moz-animation-name: $name;
      -webkit-animation-name: $name;
      animation-name: $name;
    }
