section.slide
  .split-lr
    .l Input
      pre.
        body {
          font-family: 'Work Sans';
        }
    .r Output
      pre.
        @font-face {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 100;
          src: local("Work Sans Thin"),
               local(WorkSans-Thin),
               url(//fonts.gstatic.com/s/worksans/v2/[…].woff2)
                 format("woff2"),
               url(//fonts.gstatic.com/s/worksans/v2/[…].woff)
                 format("woff");
        }

        body {
          font-family: 'Work Sans';
        }
