section
  h2 "UX" != "Make it Pretty"

  ul
    li.fragment User research
    li.fragment Usability testing
    li.fragment A/B testing
    li.fragment Interaction design
    li.fragment Analytics
    li.fragment Taxonomy &amp; Information architecture
    li.fragment Design culture evangelism
    li.fragment Visual &amp; UI design
