section
  h2 The UX Process, Abstracted

  ol
    li.fragment Empathy
    li.fragment Research &amp; define the problem
    li.fragment Ideate
    li.fragment Prototype
    li.fragment Test
    li.fragment Identify &amp; support development of a solution
    li.fragment
      em Iterate!
