section
  h4 Well-Executed UX Ensures

  ul
    li.fragment Products that meet &amp; exceed expectations
    li.fragment Increased adoption &amp; efficient usage of apps &amp; tools
    li.fragment Less training of software&mdash;more training of business process
