section
  img.solo(src='media/mri.png')

  aside.notes
    ul
      li MRI equipment was nominated for an international industrial design award
      li But after watching it in use with a certain group of patients, designer began to see some flaws
      li Claustrophobic. Loud noises. It’s in cramped, dark rooms. Terrifying experience if you’re a kid who needs an MRI.
      li Pediatric patients were so scared of these conditions that they couldn’t lie still enough to run the test.
      li Around 80% had to be sedated for their MRI.
