section
  p “I failed at my job with the first machine.”
  p.fragment.smaller.left So the designer went back to the drawing board, redesigning what was already an acclaimed, commercially successful product.

  aside.notes
    ul
      li No support from GE
      li User research: kids at daycare, pediatric doctors, experts at children's museums
      li Huge amount of empathy that completely transformed the experience
