section
  img.solo(src='media/mri-post.png')

  aside.notes
    ul
      li "Let's board the submarine and see what creatures we can find at the bottom of the ocean! But hold still—we don't want to scare them."
