include _mixins.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    block vars
    block title
      title #{title}
    block styles
      link(rel='stylesheet', href='../styles/vendor/reveal/reveal.min.css')
      link(rel='stylesheet', href=(theme || '../styles/theme-default.min.css'))

  body
    .reveal
      block slides

    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='../js/vendor/reveal/js/reveal.min.js')
    script(src='../lib/head.min.js')

    block revealInit
      script.
        Reveal.initialize({
          progress: false,
          controls: false,
          dependencies: [
            { src: '../plugin/zoom-js/zoom.js', async: true },
            { src: '../plugin/notes/notes.js', async: true }
          ]
        });
