section
  p Sass has a host of features that can be leveraged to write CSS…

  ul
    li.fragment Quickly
    li.fragment With fewer errors
    li.fragment With less repetition
    li.fragment That's easy to maintain
