body {
  background: linear-gradient(-300deg, #0a689d, #c93ad8);
  color: #fff;
}

.reveal {
  color: #fff;
  font-family: 'Work Sans';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-family: inherit;
  }

  section {
    img {
      border: 0;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

      .solo {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .left {
    text-align: left;
  }

  .smaller {
    font-size: 0.66em;
  }

  .emphasize {
    font-weight: 600;
  }
}
