@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100;
  src: local("Work Sans Thin"),local(WorkSans-Thin),url(//fonts.gstatic.com/s/worksans/v2/S5P2Ny-Dw8BHKH0UfdbgXY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/S5P2Ny-Dw8BHKH0UfdbgXYbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 200;
  src: local("Work Sans ExtraLight"),local(WorkSans-ExtraLight),url(//fonts.gstatic.com/s/worksans/v2/u_mYNr_qYP37m7vgvmIYZ-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/u_mYNr_qYP37m7vgvmIYZ3hCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Work Sans Light"),local(WorkSans-Light),url(//fonts.gstatic.com/s/worksans/v2/FD_Udbezj8EHXbdsqLUpl-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/FD_Udbezj8EHXbdsqLUpl3hCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"),local(WorkSans-Regular),url(//fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Work Sans Medium"),local(WorkSans-Medium),url(//fonts.gstatic.com/s/worksans/v2/Nbre-U_bp6Xktt8cpgwaJOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/Nbre-U_bp6Xktt8cpgwaJHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Work Sans SemiBold"),local(WorkSans-SemiBold),url(//fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/z9rX03Xuz9ZNHTMg1_ghGXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Work Sans Bold"),local(WorkSans-Bold),url(//fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5Amegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5AmXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Work Sans ExtraBold"),local(WorkSans-ExtraBold),url(//fonts.gstatic.com/s/worksans/v2/IQh-ap2Uqs7kl1YINeeEGugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/IQh-ap2Uqs7kl1YINeeEGnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  src: local("Work Sans Black"),local(WorkSans-Black),url(//fonts.gstatic.com/s/worksans/v2/Hjn0acvjHfjY_vAK9Uc6gugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/worksans/v2/Hjn0acvjHfjY_vAK9Uc6gnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

body {
  background: linear-gradient(-300deg, #0a689d, #c93ad8);
  color: #fff; }

.reveal {
  color: #fff;
  font-family: 'Work Sans'; }
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    color: #fff;
    font-family: inherit; }
  .reveal section img {
    border: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4); }
    .reveal section img .solo {
      max-width: 100%;
      max-height: 100%; }
  .reveal .left {
    text-align: left; }
  .reveal .smaller {
    font-size: 0.66em; }
  .reveal .emphasize {
    font-weight: 600; }

/*# sourceMappingURL=styles.css.map */
